* {
  margin: 0;
}

body {
  font-family: sans;
}

div {
  margin: 5px;
}

h1 {
  margin-bottom: 5px;
}

p {
  margin-bottom: 2px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.picked {
  font-weight: bold;
}

.secondary {
  font-style: italic;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
}

.thumbnails div {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 400px;
  height: 400px;
  position: relative;
}

.thumbnails div span {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.7);
}
